.main-page__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    font-family: RickAndMorty;
    h1{
        text-align: center;
        font-size: 100px;
    }
}

@font-face {
    font-family: RickAndMorty;
    src: url(../../fonts/get_schwifty.ttf);
}